body {
    background-color: #353D4F;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width : 100%;
}

main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
}

h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img {
    /* width: 50%; */
    width: 20%;
    min-width: 15rem;
}

.comment {
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 50%;
    min-width: 15rem;
    padding: 1rem;
} 

form {
    margin: 2rem auto;
    width: 50%;
    min-width: 15rem;
  
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 5px;
}

  label {
    display: inline-block;
    width: 80%;
}

input, textarea {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #999;
    min-height: 2rem;
    font-size: 1.2rem;
}
  
.formSection {
    margin-top: 1rem;
    margin-bottom: 2rem
  }

section {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5rem;
}

label {
    cursor: default;
}

label {
    display: inline-block;
    width: 80%;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
  
button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
  
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: black;
  }
  
button:hover, button:focus {
    color: black;
    border-color: black;
    background-color: white;
}
  
footer {
    margin: 3rem;
    font-size: 1.2rem;
}

.bad-word {
    opacity: .5;
}